.barra1 {
  display: inline-block;
  margin-bottom: 5rem;
  border: solid 5px;
  border-radius: 50px;
  padding: 16px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(0, 0, 0, 0.837);
}

.nav1 {
  display: flex;
}

.botonSup1 {
  text-decoration: none;
  position: 0;
  border: none;
  font-size: 15px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 15em;
  height: 2.8em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
  background-size: 300%;
  z-index: 1;
  margin-left: 7px;
  margin-right: 5rem;
  cursor: pointer;
  border-radius: 50px;
}

.botonSup1:hover {
  animation: ani 8s linear infinite;
  border: none;
  border: 3px solid black;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.botonSup1:before {
  content: "";
  position: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.botonSup1:hover::before {
  filter: blur(20px);
}

.botonSup1:active {
  background: linear-gradient(32deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
}
.spanSup1 {
  font-weight: bold;
}

.botonSup2 {
  text-decoration: none;
  position: 0;
  border: none;
  font-size: 15px;
  font-family: inherit;
  color: rgb(0, 0, 0);
  width: 15em;
  height: 2.8em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
  background-size: 300%;
  z-index: 1;
  margin-left: 7px;
  margin-right: 7px;
  cursor: pointer;
  border-radius: 50px;
}

.botonSup2:hover {
  animation: ani 8s linear infinite;
  border: none;
  border: 3px solid black;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.botonSup2:before {
  content: "";
  position: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.botonSup2:hover::before {
  filter: blur(20px);
}

.botonSup2:active {
  background: linear-gradient(32deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
}

.spanSup2 {
  font-weight: bold;
}
