.aboutDiv{
    border-radius: 60px;
    background-color: rgba(240, 248, 255, 0.653);
    outline-color: rgb(0, 255, 60);
    box-shadow: -3px -3px 15px rgb(0, 255, 51);
    padding: 3rem;
}

.aboutP{
    color:black;
    font-size: 23px;;
   margin-top: -22px;
   margin-left: 2rem;
   margin-right: 2rem;
   text-align: initial;

}

.aboutImg{
    width: 5rem;
}

.aboutA{
    font-weight: bold;
    color: black;
}

.aboutBarra{
    margin-top: 5rem;
    display: inline-block;
    border: solid 5px;
    border-radius: 50px;
    padding: 20px;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: rgba(0, 0, 0, 0.837);

    
}

.aboutButton {
    text-decoration: none;
    position: 0;
    border: none;
    font-size: 15px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    width: 15em;
    height: 2.8em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
    background-size: 300%;
    z-index: 1;
    margin-left: 7px;
    margin-right: 7px;
  
    cursor: pointer;
    border-radius: 30px;
  }
  
  .aboutButton:hover {
    animation: ani 8s linear infinite;
    border: none;
    border: 3px solid black;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .aboutButton:before {
    content: "";
    position: 0;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .aboutButton:hover::before {
    filter: blur(20px);
  }
  
  .aboutButton:active {
    background: linear-gradient(32deg, #b73bff, #03a9f4, #b73bff, #03a9f4);
  }
  
  .aboutSpan {
    font-weight: bold;
 
  }