.Carta {
  display: inline-block;
  background-image: linear-gradient(
    to left,
    #6200ffb9,
    #7c68eeb9,
    #3498dbbd,
    #2ecc70b8,
    #00dbeb88
  );
  margin: 15px;
  padding: 1rem;
  border-radius: 20px;
  transition: all 300ms;
}
.Carta:hover {
  
  transform: scale(1.03);
 }

.Img {
  border-radius: 20px;
}

.btn {
    text-decoration: none;
    position:0;
    border: none;
    font-size: 15px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    width: 15em;
    height: 3em;
    line-height: 2em;
    text-align: center;
     background: linear-gradient(90deg,#03a9f4,#f441a5,#58ff3b,#03a9f4);
    border: solid black;
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .btn:hover {
    animation: ani 8s linear infinite;
    border: none;
    
   
  }
  
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   .btn:before {
    content: '';
    position: 0;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ad3bff,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   .btn:hover::before {
    filter: blur(20px);
   }
   
   .btn:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#b43bff,#03a9f4);
   }


   .Span{
    font-weight: bold;
   }

   @media screen and (max-width: 500px ){
    .Carta{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      margin-top: 50px ;
      margin-inline-start: 2cm;
    }
   }